<app-navbar></app-navbar>


<div class="container-fluid" *ngIf="agenda.length == 0">

    <div class="alert  alert-danger text-center">
        <h1>Sin Contactos</h1>
    </div>

    <div class="text-center centro" id="agregar">

        <h3>Crear contacto</h3>
        <div class="padhr">
            <hr>
        </div>
        <a href="nuevo"><button class="btn btn-success"  >Agregar <i class="fas fa-plus" style="color: white;"></i></button></a>
    </div>
</div>

<div class="container-fluid" *ngIf="agenda.length > 0">
    <div class="text-center centro2">

        <h3>Crear contacto</h3>
        <div class="padhr">
            <hr>
        </div>
        <a href="nuevo"><button class="btn btn-success" >Agregar <i class="fas fa-plus" style="color: white;"></i></button></a>
    </div>
    <div class="col-md-3 mx-auto contactos" *ngFor="let contacto of agenda">
        <div class="text-center contactos">
            <div class="row mx-auto">
                <div class="card">
                    <div class="card-body">
                        <p>{{contacto.nombre}} {{contacto.apellidos}}</p>
                        <button class="btn btn-warning btn-sm" (click)="editar(contacto)" style="color: white;">Editar <i class="fas fa-edit"></i></button>
                        <button class="btn btn-danger btn-sm" (click)="eliminar(contacto._id)">Eliminar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <app-footer></app-footer>
</div>