<app-navbareditar></app-navbareditar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="editar?id={{contacto._id}}" class="nav-link">Contacto  </a>
                    </li>
                    <li class="nav-item">
                        <a href="direccion?id={{contacto._id}}" class="nav-link ">Dirección </a>
                    </li>
                    <li class="nav-item">
                        <a href="telefono?id={{contacto._id}}" class="nav-link">Teléfonos <hr></a>
                    </li>
                </ul>
                <form>
                    <div class="card-body ">
                        <div class="agregar text-center">
                            <button class="btn btn-primary " (click)="add()">Agregar Teléfono</button>
                        </div>
                        <br>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

<div class="text-center">
    <app-footer></app-footer>
</div>