<app-navbareditar></app-navbareditar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card ">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="editar?id={{contacto._id}}" class="nav-link">Contacto  </a>
                    </li>
                    <li class="nav-item">
                        <a href="direccion?id={{contacto._id}}" class="nav-link ">Dirección </a>
                    </li>
                    <li class="nav-item">
                        <a href="telefono?id={{contacto._id}}" class="nav-link">Teléfonos <hr></a>
                    </li>
                </ul>

                <div class=" mx-auto">
                    <div>
                        <form [formGroup]="nuevoForm" (ngSubmit)="addTelefono()">
                            <div class="input-group mb-3">
                                <div class="form-group ">
                                    <div>
                                        <input type="text" class="form-control" id="alias" formControlName="alias" [ngClass]="{ 'is-invalid': submitted && f.alias.errors }" placeholder="Alias">
                                        <div *ngIf="submitted && f.alias.errors" class="invalid-feedback">
                                            <div *ngIf="f.alias.errors.required" class="text-center">Ingresa un alias</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">

                                    <div>
                                        <select id="tipo" class="form-control" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }" placeholder="tipo">
                                        <option select disabled>Tipo: </option>
                                    <option >Casa</option>
                                    <option >Móvil</option>
                                </select>
                                        <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
                                            <div *ngIf="f.tipo.errors.required" class="text-center"> Ingresa un tipo</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div>
                                        <input type="number" class="form-control" id="numero" formControlName="numero" [ngClass]="{ 'is-invalid': submitted && f.numero.errors }" placeholder="Número" min=0>
                                        <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
                                            <div *ngIf="f.numero.errors.required" class="text-center">&nbsp; Ingresar un número telefónico</div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary ">Agregar</button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>
                    <div *ngIf="carrito_de_telefonos.length == 0" class="text-center">
                        No hay Telefonos para registrar
                        <br>
                        <br>
                    </div>
                    <div *ngIf="carrito_de_telefonos.length > 0" class="text-center">
                        Por Registrar
                        <br>
                        <br>
                    </div>

                    <div *ngIf="carrito_de_telefonos.length > 0">
                        <div *ngFor="let telefono of carrito_de_telefonos">
                            <div class="input-group mb-3">

                                <p type="text" class="form-control" *ngIf="!telefono.eliminado ">{{telefono.telefono.alias}}</p>
                                <p type="text" class="form-control" placeholder="" *ngIf="!telefono.eliminado">{{telefono.telefono.tipo}}</p>
                                <p type="text" class="form-control" placeholder="" *ngIf="!telefono.eliminado">{{telefono.telefono.numero}}</p>

                            </div>
                            <div style="float: right; ">
                                <button class="btn btn-warning" *ngIf="!telefono.cancelado && !telefono.eliminado" (click)="cancela(telefono.id)">Cancelar</button>
                                <div *ngIf="telefono.cancelado && !telefono.eliminado">
                                    <button class="btn btn-danger" *ngIf="telefono.cancelado " (click)="eliminar(telefono.id)">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div *ngIf="contacto.telefono.length==0 " class="text-center " style="padding: 20px; ">
                        No hay teléfonos registrados
                    </div>
                    <div *ngIf="contacto.telefono.length> 0" class="text-center"> Registrados:
                        <br>
                        <br>
                        <div *ngFor="let telefono of contacto.telefono">
                            <div class="input-group mb-3">
                                <p type="text" class="form-control" placeholder="">{{telefono.alias}}</p>
                                <p type="text" class="form-control" placeholder="">{{telefono.tipo}}</p>
                                <p type="text" class="form-control" placeholder="">{{telefono.numero}}</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div>
                        <button class="btn btn-success " style="float: right ;" (click)="registrar()">Registrar Teléfonos</button>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>



<div class="text-center">
    <app-footer></app-footer>
</div>