<app-navbareditar></app-navbareditar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="editar?id={{contacto._id}}" class="nav-link">Contacto  </a>
                    </li>
                    <li class="nav-item">
                        <a href="direccion?id={{contacto._id}}" class="nav-link ">Dirección </a>
                    </li>
                    <li class="nav-item">
                        <a href="telefono?id={{contacto._id}}" class="nav-link">Teléfonos <hr></a>
                    </li>
                </ul>
                <form>
                    <div class="card-body ">
                        <div class="agregar text-center">
                            <button class="btn btn-primary " (click)="add()">Agregar Teléfono <i class="fas fa-plus"></i> </button>
                        </div>
                        <div *ngIf="contacto.telefono.length == 0" class="text-center" style="padding: 20px;">
                            No hay teléfonos registrados
                        </div>

                        <div *ngFor="let telefono of contacto.telefono">

                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

<div class="text-center">
    <app-footer></app-footer>
</div>