<app-navbarabout></app-navbarabout>

<div class="position-relative p-1 p-md5 m-md-2 text-center -bg-light">
    <div class="col-md-6 p-lg-6 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Acerca de</h1>
        <p class="lean font-weight-normal">
            Esta mini app esta diseñada para poder crear una lista de tareas, editar, eliminarlas o marcarlas como completadas.
        </p>
    </div>

    <img src="http://drive.google.com/uc?export=view&id=1g1pcyHMPRAb13PgysLl5uDvVv2OhYPBG" />

    <div class="text-center">
        <a href="#"><button class="btn btn-primary"> <i class="fas fa-chevron-left"></i> Regresar </button></a>
    </div>

</div>