.container-fluid {
    margin-top: 3%;
    min-height: calc(75vh);
}

h1 {
    font-size: 35px;
}

.card-footer {
    padding: 0px;
    margin-bottom: 5%;
}

.card-body {
    padding: 5px;
}

.lft {
    margin-bottom: 5%;
}

label {
    margin-top: 5%;
}