.container-fluid {
    margin-top: 1%;
    margin-bottom: 10px;
    min-height: calc(75vh -20px);
}

h1 {
    font-size: 30px;
}

.card-footer {
    padding: 0px;
    margin-bottom: 5%;
}

.card-body {
    padding: 5px;
}

.lft {
    margin-bottom: 5%;
}

label {
    margin-top: 5%;
}