<app-navbarnuevo></app-navbarnuevo>

<div class="container-fluid">
    <div class="col-md-4 mx-auto">
        <div>
            <h1>Nuevo Contacto <i class="fas fa-plus"></i> </h1>
        </div>
        <div class="card d-flex justify-content-between align-items-center">

            <form [formGroup]="contactoForm" (ngSubmit)="createContacto()">
                <div class="card-body">

                    <div class="form-group">
                        <label for="nombre">Nombre <span style="color: red;">*</span> </label>
                        <div class=" mb-3">
                            <input type="text" class="form-control" id="nombre" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                                <div *ngIf="f.nombre.errors.required">Es necesario ingresar un nombre</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos <span style="color: red;">*</span> </label>
                        <div class=" mb-3">
                            <input type="text" class="form-control" id="apellidos" formControlName="apellidos" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }">
                            <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                                <div *ngIf="f.apellidos.errors.required">Es necesario ingresar apellidos</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fotografia">Fotografia <span style="color: red;">*</span> </label>
                        <div class=" mb-3">
                            <input (change)="selected($event)" type="file" class="form-control" id="fotografia" formControlName="fotografia" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fotografia.errors }">
                            <div *ngIf="submitted && f.fotografia.errors" class="invalid-feedback">
                                <div *ngIf="f.fotografia.errors.required">Es necesario ingresar una fotografia</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fecha_nacimiento">Fecha de Nacimiento <span style="color: red;">*</span></label>
                        <div class=" mb-3">
                            <input type="date" class="form-control" id="fecha_nacimiento" formControlName="fecha_nacimiento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fecha_nacimiento.errors }">
                            <div *ngIf="submitted && f.fecha_nacimiento.errors" class="invalid-feedback">
                                <div *ngIf="f.fecha_nacimiento.errors.required">Es necesario ingresar una fecha de nacimiento</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">

                    <div class="lft text-center">
                        <button type="submit" class="btn btn-success form-control">Agregar</button>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <div class="lft ">
                    <a href="#"><button class="btn btn-danger form-control ">Cancelar</button></a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="text-center">
    <app-footer></app-footer>
</div>